html {
	scroll-behavior: smooth;
}

#section1 {
  height: 100vh;
}

#section2 {
  height: 100vh;
  vertical-align: middle;
}




body {
	font: 20px "Avenir";
	line-height: 1.7em;
	background: #FFFFFF;
}

h1 {
	font: 33px "Avenir";
	text-align: center;
	letter-spacing: 2px;
}

.fadeInShort {
	opacity: 1;
	animation-name: fadeInOpacityShorter;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.3s;
}

.fadeInLong{
	opacity: 1;
	animation-name: fadeInOpacityLonger;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 5s;
}




img {
	display:block;
	margin: auto;
}


@keyframes fadeInOpacityShorter {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacityLonger {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nav {
	font: 20px "Avenir";
	padding: 1%;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	padding: 6px;
}

.nav a:hover {
	color: white;
	background-color: #3eba8f;
	padding: 6px;
	border-radius: 10px;
	opacity: 1;
	animation-name: fadeInOpacityShorter;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

.nav a:active {
	color: white;
	background-color: #3eba8f;
	padding: 6px;
	border-radius: 10px;
	opacity: 1;
}


/*Citation - https://css-tricks.com/snippets/css/typewriter-effect/*/
.typewriter h1{
   overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 2px;
    animation: 
    	typing 1.3s steps(10, end), 
    	blink-caret .75s steps(50, end) infinite;
}

.typewriter {
    display: inline-flex;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #3eba8f; }
}

.span {
	margin: auto;
}

#section2 > img {
	float: right;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
